:root {
    --green: #40cf8e;
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --black-color: #131313;
    --blue: #1af7ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white-color);
}

body {
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #131313;
    color: #bbbbbb;
    transition: all .2s ease;
    font-family: 'Montserrat';

}

/* Nav Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none;

}

ul {


    background: rgba(114, 114, 114, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #404040b5;

    box-shadow: 0 2px 10px #0000001a;
    border-radius: 30px;
    border: 1px solid transparent;

    transition: all .2s ease;
    position: relative;
    display: flex;
    gap: 1.2 rem;

    list-style: none;
    padding: 12px;


}

.link {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.link::before {
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}



/* Header CSS */


.img {
    top: 0;
    width: 100%;
    max-width: 1200px;
    position: absolute;
}

.head {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: linear-gradient(180deg, black, rgba(0, 0, 0, 1), rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), rgba(0, 0, 0, .7), rgba(0, 0, 0, .6), rgba(0, 0, 0, .5), rgba(0, 0, 0, .4), rgba(0, 0, 0, .3), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1), var(--black-color));
    width: 100%;
}

.head-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.head-wrapper-description {
    max-width: 750px;
    line-height: 1.8;
    font-size: 20px;
}

.subtitle {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 75px;
}


.typewriter {
    position: relative;
    font-size: 2.8rem;
    color: #1af7ff;
}

.typewriter::after {
    content: '|';
    position: absolute;
    text-align: left;
    right: 0;
    color: #1af7ff;
    background: linear-gradient(180deg, #050505, #050505);
    width: 100%;
    animation: typing 2.5s steps(400);
    animation-fill-mode: forwards;
}

@keyframes typing {
    to {
        width: 0%;
    }
}

@keyframes line {
    100% {
        color: transparent;
    }
}


.main {
    margin: -100px auto 0;
    max-width: 1300px;
    padding: 25px;
}


.about-wrapper {
    display: flex;
    flex-direction: column;
}

.about-title,
.skillset-title,
.projects-title {
    margin-bottom: 5px;
    font-size: 20px;
}

.about-description,
.skills,
.projects-showcase {
    margin-top: 5px
}




/* Skillset CSS */
.skillset {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.skills {
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: var(--blue);

}

.skills span {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid var(--blue);
    background-color: #232323;
    box-shadow: 0 2px 3px #0000003d;
}


/* Projects Showcase Section*/
@media screen and (min-width: 650px) {
    .projects-container {
        gap: 30px;
    }
}

.projects-container {
    gap: 20px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

@media screen and (min-width: 650px) {
    .projects-headline {
        font-size: 22px;
    }
}

.projects-headline {
    font-size: 20px;
    font-weight: bold;
}



@media screen and (min-width: 650px) {
    .projects-container {
        gap: 30px;
    }
}

.projects-wrapper {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.projects-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    transition: border .2s ease;
    font-size: 14px;
    height: 150px;
    background-color: #1c1c1c;
    box-shadow: 0 2px 3px #0000003d;
    transition: border .2s ease;

}



.projects-card:hover {
    border-color: #fff;
    /* Change this to the desired highlight color */
}

@media screen and (min-width: 495px) {
    .projects-card {
        padding: 30px;
        align-items: center;
    }
}

@media screen and (min-width: 650px) {
    .projects-card {
        height: 200px;
    }
}

@media screen and (min-width: 650px) {

    .projects-card,
    .projects-card-name {
        font-size: 16px;
    }
}







.projects-card-gradient {
    top: 0;
    left: 0;
    width: 150px;
    height: 200px;
    position: absolute;
    background: radial-gradient(100% 100% at 0% 0%, hsla(0, 0%, 100%, .03), transparent);
    transition: all .1s ease-in;
}

.projects-card-links {
    gap: 30px;
    display: flex;
    align-self: flex-end;
}

@media screen and (min-width: 650px) {
    .projects-card-links {
        gap: 30px;
        display: flex;
        align-self: flex-end;
    }
}

@media screen and (min-width: 495px) {
    .projects-card-links a:first-child {
        display: inline-block;
    }
}


@media screen and (min-width: 495px) {
    .projects-card-links a:first-child {
        display: inline-block;
    }
}


.projects-card-name {
    font-weight: 400;
    margin-top: -100px;
    text-transform: uppercase;
    font-size: 14px;
}

@media screen and (min-width: 650px) {

    .projects-card,
    .projects-card-name {
        font-size: 16px;
    }
}

@media screen and (min-width: 495px) {
    .projects-card-name {
        margin-top: -40px;
    }
}



@media screen and (min-width: 460px) {
    .projects-card-languages {
        align-self: inherit;
    }
}

@media screen and (min-width: 495px) {
    .projects-card-languages {
        display: flex;
        gap: 15px;
    }
}

@media screen and (min-width: 540px) {
    .projects-card-languages {
        display: flex;
        gap: 30px;
    }
}

.projects-card-languages {
    display: flex;
    align-self: center;
    gap: 15px;
}










/* Footer */
.footer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 30px 0;
    border-top: 1px solid #2d2d2d;
    margin-top: 30px;
}



.footer span {
    font-size: 12px;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.social_item {
    display: flex;
    align-items: center;
    gap: 5px;
}



.icon:hover {
    filter: drop-shadow(0px 0px 16px var(--blue));
}

.links {
    /* display: none; Hide text links inside social items */
}



/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #0000FF, #00FFFF);
    /* border-radius: 6px;  */
}

::-webkit-scrollbar-track {
    background-color: var(--black-color);
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 768px) {
    .head {
        height: 100vh;
    }

    .head-wrapper-description {
        font-size: 16px;
    }

    .subtitle {
        font-size: 1.5rem;
        line-height: 60px;
    }

    .skills span {
        font-size: 10px;
    }
}