root{
    --green: #40cf8e;
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --black-color: #131313;
}

body {
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #131313;
    color: #bbbbbb;
    transition: all .2s ease;
    font-family: 'Montserrat';
}


/* header css */

.head {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background: linear-gradient(180deg,black,rgba(0,0,0,1),rgba(0,0,0,.9),rgba(0,0,0,.8),rgba(0,0,0,.7),rgba(0,0,0,.6),rgba(0,0,0,.5),rgba(0,0,0,.4),rgba(0,0,0,.3),rgba(0,0,0,.2),rgba(0,0,0,.1),var(--black-color));
}

.head-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.head-wrapper-description {
    max-width: 750px;
    line-height: 1.8;
    font-size: 20px;
}

.head-wrapper-secondtitle{
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
}

/* About section */

/* about me css  */
/* ... */


/* skillset css */
.skillset {
    gap: 10px;


    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.skills {
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

.skills span {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #333333;
    background-color: #232323;
    box-shadow: 0 2px 3px #0000003d;
}