root{
    --green: #40cf8e;
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --black-color: #131313;
}

body {
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #131313;
    color: #bbbbbb;
    transition: all .2s ease;
}

